body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: "https://d33wubrfki0l68.cloudfront.net/b0180163191069b0a7ae470f173623e724b61eb2/f9084/uploads/2019/02/05/skyline-bg.jpg";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.loading {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100vh;
  top :0;
  left :0;
  background: url('assets/logo/load.gif') no-repeat center center;
  background-color: #cac5c5;
  opacity: 0.7;
}
